<div *ngIf="restaurante" class="restaurante-box">
    <div class="image">
        <img class="imagen-rest-detail" width="200px" src="http://localhost/slim/uploads/{{restaurante.imagen}}" *ngIf="restaurante.imagen && restaurante.imagen !== 'null'">
    </div>
    <div class="data-rest" >
        <h1>Restaurante: {{restaurante.nombre}} </h1>
        <p class="precio">
            <span [ngSwitch]="restaurante.precio">
            <span *ngSwitchWhen="'bajo'">Entre $200 y $600</span>
            <span *ngSwitchWhen="'normal'">Entre $1000 y $2000</span>
            <span *ngSwitchWhen="'alto'">Entre $10000 y $30000</span>
            </span>
        </p>
        <p class="direccion">{{restaurante.direccion}}</p>
        <p class="descripcion">{{restaurante.descripcion}}</p>
    </div>
</div>